<header class="header">
  <!-- Header Content -->
  <div class="header_content d-flex flex-row align-items-center justify-content-end" [ngClass]="{'header_content_close' : sidebarLeftService.status}">
    <div class="menu-button">
      <i class="fas fa-bars" (click)="sidebarLeftService.changeStatus()"></i>
      <a [routerLink]="['/']">Home</a>
    </div>
    <nav class="main_nav">
      <ul class="d-flex flex-row align-items-start justify-content-start">
        <li>
          <div class="notifications" (click)="changeStatusDropdown()">
            <i class="fas fa-bell notification-icon font-icon"></i>
            <span>{{notificationsService.listReport.length}}</span>
          </div>
          <div class="dropdown">
                <div class="dropdown-menu dropdown-notification" [ngClass]="{'dropdown-active': isDropdownActive}">
                  <a *ngFor="let item of notificationsService.listReport" [routerLink]="['/notifications']" (click)="changeStatusDropdown()"class="dropdown-item d-flex align-items-center dropitem-property">
                    <div class="mr-3">
                      <i class="fas fa-exclamation-circle exclamation-icon"></i>
                    </div>
                    <div>
                      <div class="small date-item">{{item.date | date: 'dd/MM/yyyy'}} | {{item.date | date: 'hh'}}h {{item.date | date: 'mm'}}min</div>
                      <span class="font-weight-bold">{{item.title}} | {{item.college}} - {{item.laboratory}} - {{item.computer}}</span>
                    </div>
                  </a>
                </div>
          </div>
        </li>
        <li><a [routerLink]="['/login']" (click)="logOff()"><i class="fas fa-power-off font-icon"></i></a></li>
      </ul>
    </nav>
  </div>
</header>