<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row">
      <div class="col section_title text-center">
        <h1>Notificações</h1>
        <h2 class="notifications-subtitle">Lista de computadores que estão com defeitos</h2>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="table-responsive">
          <table class="table table-property">
            <thead class="table-head"><tr>
              <th>ID</th>
              <th>Usuário</th>
              <th>Unidade</th>
              <th>Laboratório</th>
              <th>Máquina</th>
              <th>Data</th>
              <th>Título</th>
              <th>Descrição</th>
              <th>Ações</th>
            </tr></thead>
            <tbody *ngFor="let not of notifications"><tr [ngStyle]="{'background-color' : not.bgColor}">
              <td>{{not.id}}</td>
              <td>{{not.name}}</td>
              <td>{{not.college}}</td>
              <td>{{not.laboratory}}</td>
              <td>{{not.computer}}</td>
              <td>{{not.date | date: 'dd/MM/yyyy hh:mm'}}</td>
              <td>{{not.title}}</td>
              <td>{{not.description}}</td>
              <td>
                <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
                <button class="btn btn-danger button-size"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody></table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</div>