<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col margin-profile">
        <div class="img-profile">
          <img src="../../assets/img/profile.jpg" class="img-circle img-size">
          <button (click)="openModal(profile_modal)" class="btn button-edit"><i class="fas fa-pen"></i></button>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col text-center mt-3">
        <h2>{{objPerson.name}}</h2>
        <br>
        <h3>{{objPerson.course}}</h3>
      </div>
    </div>
  </div>
</div>

<ng-template #profile_modal>
  <div class="modal-header">
    <i class="fas fa-exclamation-circle exclamation-icon"></i>
    <h4 class="modal-title pull-left">{{objPerson.user}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Nome</span>
    <div>
      <input [(ngModel)]="objPerson.name" name="name" #name="ngModel" type="text" class="text-box-profile" disabled>
      <div class="required-account-access" id="nome" [ngStyle]="{'display' : isEmptyTitle ? 'block' : 'none'}">
        <span class="msg-required">Nome Obrigatório</span>
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
      <button class="btn btn-success button-size button-margin" [ngStyle]="{'display' : 'none'}"><i class="fas fa-check"></i></button>
    </div>
    <span>Curso</span>
    <div>
      <input [(ngModel)]="objPerson.course" name="course" #course="ngModel" type="text" class="text-box-profile" disabled>
      <div class="required-account-access" id="curso" [ngStyle]="{'display' : isEmptyTitle ? 'block' : 'none'}">
        <span class="msg-required">Título Obrigatório</span>
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
      <button class="btn btn-success button-size button-margin" [ngStyle]="{'display' : 'none'}"><i class="fas fa-check"></i></button>
    </div>
    <span>Senha</span>
    <div>
      <input #password type="text" class="text-box-profile" value="***************" disabled>
      <div class="required-account-access" id="senha" [ngStyle]="{'display' : isEmptyTitle ? 'block' : 'none'}">
        <span class="msg-required">Título Obrigatório</span>
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
      <button class="btn btn-success button-size button-margin" [ngStyle]="{'display' : 'none'}"><i class="fas fa-check"></i></button>
    </div>
  </div>
</ng-template>