<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col margin-profile">
        <div class="img-profile">
          <img [src]="objPerson.image" class="img-circle img-size">
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col text-center mt-3">
        <h2>{{objPerson.name}} <i (click)="openModal(profile_modal)" class="fas fa-info-circle btn-information"></i></h2> 
        <br>
        <h3>{{objPerson.course}}</h3>
      </div>
    </div>
  </div>
</div>

<ng-template #profile_modal>
  <div class="modal-header">
    <i class="fas fa-exclamation-circle exclamation-icon"></i>
    <h4 class="modal-title pull-left">{{objPerson.user}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>Imagem</span>
    <div>
      <input [(ngModel)]="objPerson.image" name="image" #image="ngModel" type="text" class="text-box-profile" placeholder="Digite o novo endereço da imagem" [disabled]="!imageEdit">
      <i [hidden]="!(image.value == '')" class="fas fa-exclamation-triangle required-icon"></i>
      <button class="btn btn-success button-size button-margin" [hidden]="imageEdit" (click)="editImage()"><i class="fas fa-pen"></i></button>
      <button class="btn btn-danger button-size button-margin" [hidden]="!imageEdit"><i class="fas fa-times"></i></button>
      <button class="btn btn-success button-size button-margin button-margin-right" [hidden]="!imageEdit"><i class="fas fa-check"></i></button>
      
    </div>
    <span>Nome</span>
    <div>
      <input [(ngModel)]="objPerson.name" name="name" #name="ngModel" type="text" class="text-box-profile" placeholder="Digite o novo nome" [disabled]="true">
      <i [hidden]="!(name.value == '')" class="fas fa-exclamation-triangle required-icon"></i>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
      <button class="btn btn-danger button-size button-margin" [hidden]="true"><i class="fas fa-times"></i></button>
      <button class="btn btn-success button-size button-margin button-margin-right" [hidden]="true"><i class="fas fa-check"></i></button>
    </div>
    <span>Curso</span>
    <div>
      <select [(ngModel)]="objPerson.course" name="course" #course="ngModel" class="text-box-profile" [disabled]="true">
        <option value="default">Selecione uma opção</option>
        <option *ngFor="let course of listCourse" [value]="course.name">{{course.name}}</option>
      </select>
      <i [hidden]="!(course.value == 'default')" class="fas fa-exclamation-triangle required-icon"></i>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
      <button class="btn btn-danger button-size button-margin" [hidden]="true"><i class="fas fa-times"></i></button>
      <button class="btn btn-success button-size button-margin button-margin-right" [hidden]="true"><i class="fas fa-check"></i></button>
    </div>
    <span>Senha</span>
    <div>
      <input [(ngModel)]="objPerson.password" name="password" #password="ngModel" type="password" class="text-box-profile" placeholder="Digite a nova senha" [disabled]="true">
      <i [hidden]="!(password.value == '') || password.pristine" class="fas fa-exclamation-triangle required-icon"></i>
      <button class="btn btn-success button-size button-margin"><i class="fas fa-pen"></i></button>
    </div>
    <div [hidden]="true">
      <span>Confirmar Senha</span>
      <div>
        <input #confirmPassword type="password" class="text-box-profile" placeholder="Digite a senha novamente">
        <i class="fas fa-exclamation-triangle required-icon"></i>
        <button class="btn btn-danger button-size button-margin"><i class="fas fa-times"></i></button>
        <button class="btn btn-success button-size button-margin button-margin-right"><i class="fas fa-check"></i></button>
      </div>
    </div>
  </div>
</ng-template>