<div class="sidebar-left" [ngClass]="{'sidebar-left-close' : sidebarLeftService.status}">
  <div class="logo border-sidebar">
    <img src="../../assets/img/logo.png">
    <a [routerLink]="['/']">Suporte<br><span>FUMEC</span></a>
  </div>
  <a [routerLink]="['/profile']" class="teste">
    <div class="profile border-sidebar">
      <img [src]="personService.person.image" class="img-circle img-size">
      <span>{{personService.person.name}}</span>
    </div>
  </a>
  <nav>
    <ul class="links-sidebar-left">
      <a [routerLink]="['/notifications']"><li><i class="fas fa-bell"></i><span>Notificações</span></li></a>
      <a [routerLink]="['/login']" (click)="logOff()"><li><i class="fas fa-power-off"></i><span>Sair</span></li></a>
    </ul>
  </nav>
</div>