<div class="sidebar-left" [ngClass]="{'sidebar-left-close' : sidebarLeftService.status}">
  <div class="logo border-sidebar">
    <img src="../../assets/img/logo.png">
    <a [routerLink]="['/home']">Suporte<br><span>FUMEC</span></a>
  </div>
  <div class="profile border-sidebar">
    <a [routerLink]="['/profile']">
      <img src="../../assets/img/profile.jpg" class="img-circle img-size">
      <span>Luiz Eduardo</span>
    </a>
  </div>
  <nav>
    <ul class="links-sidebar-left">
      <a [routerLink]="['/notifications']"><li><i class="material-icons">notifications</i><span>Notificações</span></li></a>
      <a [routerLink]="['/login']"><li><i class="material-icons">power_settings_new</i><span>Sair</span></li></a>
    </ul>
  </nav>
</div>