<div class="sidebar-left">
  <div class="logo border-sidebar">
    <img src="../../assets/img/logo.png">
    <a href="#">Suporte<br><span>FUMEC</span></a>
  </div>
  <div class="profile border-sidebar">
    <a href="#">
      <img src="../../assets/img/profile.jpg" class="img-circle">
      <span>Luiz Eduardo</span>
    </a>
  </div>
  <nav>
    <ul class="links-sidebar-left">
      <li><a href="#">Notificações</a></li>
      <li><a href="#">Contatos</a></li>
      <li><a href="#">Ajuda</a></li>
      <li><a href="#">Sair</a></li>
    </ul>
  </nav>
</div>