<div class="background-login">
  <div class="container full-height">
    <div class="row justify-content-center full-height">
      <div class="col-xl-6 my-auto login">
        <div class="logo-login">
            <img src="../../../assets/img/blue_logo.jpg">
            <span>Suporte<br>FUMEC</span>
        </div>
        <form class="form">
          <span>Usuário</span>
          <br>
          <i class="material-icons icon">account_circle</i>
          <input type="text" class="text-box" placeholder="Digite seu usuário">
          <div class="line"><div class="line-select"></div></div>
          <span>Senha</span>
          <br>
          <i class="material-icons icon">https</i>
          <input type="text" class="text-box" placeholder="Digite sua senha">
          <div class="line"><div class="line-select"></div></div>
          <input type="submit" method="get" value="Login" class="btn-logar">
        </form>
        <div class="register-link">
          <span>Não tem uma conta? </span><a href="/home">Registrar</a>
        </div>
      </div>
    </div>
  </div>
</div>
