<!DOCTYPE html>
<html lang="en">
<head>
<title>Suporte Fumec</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="myHOME - real estate template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="super_container">
	<div class="super_overlay"></div>
	
	<!-- Header -->

	<header class="header">
		<!-- Header Content -->
		<div class="header_content d-flex flex-row align-items-center justify-content-end">
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About us</a></li>
					<li><a href="listings.html">Listings</a></li>
					<li><a href="blog.html">News</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
		</div>

	</header>

	<!-- SideBar-left -->
	<div class="sidebar-left">
		<div class="logo border-sidebar">
			<img src="images/logo.png">
			<a href="#">Suporte<br><span>FUMEC</span></a>
		</div>
		<div class="profile border-sidebar">
			<a href="#">
				<img src="images/profile.jpg" class="img-circle">
				<span>Luiz Eduardo</span>
			</a>
		</div>
		<nav>
			<ul class="links-sidebar-left">
				<a href="#">
					<li>Notificações</li>
					<li>Contatos</li>
					<li>Ajuda</li>
					<li>Sair</li>
				</a>
			</ul>
		</nav>
	</div>

	<!-- Featured -->
	<div class="featured">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_title">
						<h1>Suporte da Fumec</h1>
						<h2>Selecione a unidade que a máquina se encontra</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="row featured_row justify-content-md-center">	
			<!-- Featured Item -->
				<div class="col-lg-5">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="images/fch.jpg" alt="">
							</div>
							<div class="tags">
								<div class="tag tag_face"><a href="listings.html">FACE</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="images/fea.jpg" alt="">
							</div>
							<div class="tags">
								<div class="tag tag_fea"><a href="listings.html">FEA</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="images/fch.jpg" alt="">
							</div>
							<div class="tags">
								<div class="tag tag_fch"><a href="listings.html">FCH</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="listing">
						<div class="listing_image">
							<div class="listing_image_container">
								<img src="images/sede.jpg" alt="">
							</div>
							<div class="tags">
								<div class="tag tag_sede"><a href="listings.html">SEDE</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<div class="footer_bar">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="footer_bar_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
						<div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Todos os direitos reservados
	<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	

<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>

</body>
</html>