<div class="background-account-access">
    <div class="container full-height">
      <div class="row justify-content-center full-height">
        <div class="col-xl-6 my-5 account-access">
          <div class="logo-account-access">
              <img src="../../../assets/img/blue_logo.jpg">
              <span>Suporte<br>FUMEC</span>
          </div>
          <form class="form-account-access">
            <span>Nome</span>
            <br>
            <div class="input-cursor" (click)="name.focus()">
              <input type="text" class="text-box-account-access" #name placeholder="Digite seu nome"
              (focus)="focusName(name.value)" (keyup)="focusName(name.value)" (blur)="blurName(name.value)">
              <div class="required-account-access" id="nome" [ngStyle]="{'display' : validationName ? 'block' : 'none'}">
                <span>Nome Inválido</span>
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="line-account-access"><div class="line-select-account-access" [ngClass]="{'line-select-account-access-active' : isFocusName}"></div></div>
            <span>Curso</span>
            <br>
            <div>
              <select class="text-box-account-access" name="curso" #course (focus)="focusCourse()" (blur)="blurCourse(course.value);">
                <!-- <option value="default">Selecione uma opção</option> -->
                <option *ngFor="let c of teste" value="curso">{{c.name}}</option>
              </select>
              <div class="required-account-access" id="curso" [ngStyle]="{'display' : validationCourse ? 'block' : 'none'}">
                <span>Curso Inválido</span>
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="line-account-access"><div class="line-select-account-access" [ngClass]="{'line-select-account-access-active' : isFocusCourse}"></div></div>
            <br>
            <span>Usuário</span>
            <br>
            <div class="input-cursor" (click)="user.focus()">
              <input type="text" class="text-box-account-access" #user placeholder="Digite seu usuário"
              (focus)="focusUser(user.value)" (keyup)="focusUser(user.value)" (blur)="blurUser(user.value)">
              <div class="required-account-access" id="usuario" [ngStyle]="{'display' : validationUser ? 'block' : 'none'}">
                <span>Usuário Inválido</span>
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="line-account-access"><div class="line-select-account-access" [ngClass]="{'line-select-account-access-active' : isFocusUser}"></div></div>
            <span>Senha</span>
            <br>
            <div class="input-cursor" (click)="password.focus()">
              <input type="password" class="text-box-account-access" #password placeholder="Digite sua senha"
              (focus)="focusPassword(password.value)" (keyup)="focusPassword(password.value)" (blur)="blurPassword(password.value)">
              <div class="required-account-access" id="senha" [ngStyle]="{'display' : validationPassword ? 'block' : 'none'}">
                <span>Senha Inválida</span>
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="line-account-access"><div class="line-select-account-access" [ngClass]="{'line-select-account-access-active' : isFocusPassword}"></div></div>
            <span>Confirmar Senha</span>
            <br>
            <div class="input-cursor" (click)="confirmPassword.focus()">
              <input type="password" class="text-box-account-access" #confirmPassword placeholder="Digite sua senha novamente"
              (focus)="focusConfirmPassword(confirmPassword.value)" (keyup)="focusConfirmPassword(confirmPassword.value)" (blur)="blurConfirmPassword(confirmPassword.value)">
              <div class="required-account-access" id="confirmar-senha" [ngStyle]="{'display' : validationConfirmPassword ? 'block' : 'none'}">
                <span>Senha Inválida</span>
                <i class="fas fa-exclamation-triangle"></i>
              </div>
            </div>
            <div class="line-account-access"><div class="line-select-account-access" [ngClass]="{'line-select-account-access-active' : isFocusConfirmPassword}"></div></div>
            <input type="button" value="Registrar" class="btn-account-access" (click)="dataValidation()">
          </form>
          <div class="account-access-link">
            <span>Já possui uma conta? </span><a [routerLink]="['/login']">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  