<div class="background-login">
    <div class="container full-height">
      <div class="row justify-content-center full-height">
        <div class="col-xl-6 my-5 login">
          <div class="logo-login">
              <img src="../../../assets/img/blue_logo.jpg">
              <span>Suporte<br>FUMEC</span>
          </div>
          <form class="form">
            <span>RA</span>
            <br>
            <div>
              <input type="text" class="text-box" placeholder="Digite seu RA">
              <div class="required" id="ra">
                <span>RA Inválido</span>
                <i class="material-icons">warning</i>
              </div>
            </div>
            <div class="line"><div class="line-select"></div></div>
            <span>Usuário</span>
            <br>
            <div>
              <input type="text" class="text-box" placeholder="Digite seu nome">
              <div class="required" id="usuario">
                <span>Usuário Inválido</span>
                <i class="material-icons">warning</i>
              </div>
            </div>
            <div class="line"><div class="line-select"></div></div>
            <span>Senha</span>
            <br>
            <div>
              <input type="text" class="text-box" placeholder="Digite sua senha">
              <div class="required" id="senha">
                <span>Senha Inválida</span>
                <i class="material-icons">warning</i>
              </div>
            </div>
            <div class="line"><div class="line-select"></div></div>
            <span>Confirmar Senha</span>
            <br>
            <div>
              <input type="text" class="text-box" placeholder="Digite sua senha novamente">
              <div class="required" id="confirmar-senha">
                <span>Senha Inválida</span>
                <i class="material-icons">warning</i>
              </div>
            </div>
            <div class="line"><div class="line-select"></div></div>
            <input type="submit" method="get" value="Registrar" class="btn-logar">
          </form>
          <div class="register-link">
            <span>Já possui uma conta? </span><a href="/home">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  