<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <div class="section_title">
            <h1>Suporte da Fumec</h1>
            <h2>Selecione a unidade que a máquina se encontra</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row featured_row justify-content-md-center">
      <!-- Featured Item -->
      <div *ngFor="let college of listColleges" class="col-lg-5">
        <div class="listing">
          <div class="listing_image">
            <a [routerLink]="['/report', college.name]">
              <div class="listing_image_container">
                <img [src]="college.image" alt="">
              </div>
              <div class="tags col align-self-center">
                <div class="tag"><a>{{college.name}}</a></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>