<div class="featured">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <div class="section_title">
          <h1>Suporte da Fumec</h1>
          <h2>Selecione a unidade que a máquina se encontra</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row featured_row justify-content-md-center">	
    <!-- Featured Item -->
      <div class="col-lg-5">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="../../assets/img/fea.jpg" alt="">
            </div>
            <div class="tags">
              <div class="tag tag_face"><a href="listings.html">FACE</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="../../assets/img/fea.jpg" alt="">
            </div>
            <div class="tags">
              <div class="tag tag_fea"><a href="listings.html">FEA</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="../../assets/img/fch.jpg" alt="">
            </div>
            <div class="tags">
              <div class="tag tag_fch"><a href="listings.html">FCH</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="../../assets/img/sede.jpg" alt="">
            </div>
            <div class="tags">
              <div class="tag tag_sede"><a href="listings.html">SEDE</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>