.font-lab{
    font-size: 30px;
    font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
    line-height: 35px;
    text-align: center;
}

.column-lab{
    padding: 70px 0;
    background-color: #0083ff;
}

.column-lab:hover {
    background-color: #0057da;
    color: white;
    transition: background-color 0.5s;
}