<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row">
      <div class="col text-center section_title">
        <h1>Suporte da Fumec</h1>
        <h2>Selecione o laboratório que a máquina se encontra</h2>
      </div>
    </div>
    <div class="row featured_row justify-content-md-center">
      <div *ngFor="let lab of labs" class="col-xl-4 spacing-labs">
        <app-laboratory [lab]="lab"></app-laboratory>
      </div>
    </div>
  </div>
</div>
