<div class="featured" [ngClass]="{'featured-close' : sidebarLeftService.status}">
  <div class="container">
    <div class="row">
      <div class="col text-center section_title">
        <h1>Suporte da Fumec</h1>
        <h2>Selecione o computador com defeito</h2>
      </div>
    </div>
    <div class="row justify-content-md-center featured_row">
      <div *ngFor="let pc of pcs" class="col-lg-3 spacing-pcs">
        <div (click)="openModal(report_modal); setComputer(pc)" class="font-computer">
          <div class="column-computer">
            {{pc}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal report computer -->
<ng-template #report_modal>
  <div class="modal-header">
    <i class="fas fa-exclamation-circle exclamation-icon"></i>
    <h4 class="modal-title pull-left">{{computer}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit()" #computerForm="ngForm">
    <div class="modal-body">
      <span>Título</span>
      <div>
        <input [(ngModel)]="objReport.title" maxlength="50" name="title" #title="ngModel" type="text" class="text-box-computer" placeholder="Digite o título" required>
        <div class="required-account-access" id="titulo" [hidden]="title.valid || title.pristine">
          <span class="msg-required">Título Obrigatório</span>
          <i class="fas fa-exclamation-triangle"></i>
        </div>
      </div>
      <span>Relate o problema</span>
      <div>
        <textarea [(ngModel)]="objReport.description" name="description" #description="ngModel" maxlength="140" class="text-area-computer" placeholder="Digite a descrição do problema" required></textarea>
        <div class="required-account-access" id="descricao" [hidden]="description.valid || description.pristine">
          <span class="msg-required">Descrição Obrigatório</span>
          <i class="fas fa-exclamation-triangle"></i>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" [disabled]="!computerForm.form.valid" value="Salvar">
      <button class="btn btn-cancel" (click)="modalRef.hide()">Cancelar</button>
    </div>
  </form>
</ng-template>