.spacing-pcs {
    margin: 0px;
}

/* Computer */

.font-computer{
    font-size: 30px;
    font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.column-computer{
    padding: 62.5px 0;
    background-color: #0083ff;
    margin-bottom: 30px;
}

.column-computer:hover {
    background-color: #0057da;
    color: white;
    transition: background-color 0.5s;
}